
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.logo img {
    width: 250px;
    height: 75px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.contact-form {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact-form h2 {
    margin-bottom: 1rem;
}


.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
